#notification_outerdiv{
   

}
#notification_innerdiv_id{
    text-align: center;
    font-size: 30px;
    width:300px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1px solid black;
    margin:10px;
    border-radius: 10px;
}